In [1]:
import pandas as pd
import seaborn
import numpy as np # linear algebra
import os
import matplotlib.pyplot as plt
plt.style.use("ggplot")

In [2]:
# Read the demand data for past 3 years
df1 =  pd.read_csv("Toronto20191.csv", index_col=[0], parse_dates=[0])
df1 = df1.drop(columns=['Date/Time'])
df1.head()

df2 =  pd.read_csv("Toronto20192.csv", index_col=[0], parse_dates=[0])
df2 = df2.drop(columns=['Date/Time'])
df2.head()

df_lst = [df1, df2]
df = pd.concat(df_lst)
df.tail()

,Year,Month,Day,Time,Temp (°C),Temp Flag,Dew Point Temp (°C),Dew Point Temp Flag,Rel Hum (%),Rel Hum Flag,...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
DateTime,,,,,,,,,,,,,,,,,,,,,
2019-02-28 19:00:00,2019,2,28,19:00,-7.1,NaN,-12.0,NaN,68,NaN,...,NaN,NaN,NaN,101.11,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-28 20:00:00,2019,2,28,20:00,-6.6,NaN,-11.4,NaN,69,NaN,...,NaN,NaN,NaN,101.11,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-28 21:00:00,2019,2,28,21:00,-6.7,NaN,-11.3,NaN,70,NaN,...,NaN,NaN,NaN,101.09,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-28 22:00:00,2019,2,28,22:00,-6.2,NaN,-10.9,NaN,69,NaN,...,NaN,NaN,NaN,101.05,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-28 23:00:00,2019,2,28,23:00,-6.2,NaN,-11.2,NaN,68,NaN,...,NaN,NaN,NaN,101.01,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def stack_weather_data(station_name, start_year, start_month, end_year, end_month):
    df_lst = []
    df_all = pd.DataFrame([])
    for i in range(start_year, end_year + 1):
        for j in range(start_month, 13):
            if (i == end_year) & (j == (end_month+1)):
                 break
            df = pd.read_csv(str(station_name) + str(i) + str(j) + ".csv", index_col=[0], parse_dates=[0])
            df_all = df_all.append(df)
    df_all.to_csv(station_name+'_all' + '.csv')
    return df_all

In [4]:
all_df = stack_weather_data('Toronto', 2003, 1, 2019, 3)
all_df.head()

,Date/Time,Year,Month,Day,Time,Temp (°C),Temp Flag,Dew Point Temp (°C),Dew Point Temp Flag,Rel Hum (%),...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
DateTime,,,,,,,,,,,,,,,,,,,,,
2003-01-01 00:00:00,2003-01-01 00:00,2003,1,1,00:00,1.4,NaN,-3.9,NaN,68.0,...,NaN,NaN,M,100.18,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-01 01:00:00,2003-01-01 01:00,2003,1,1,01:00,1.5,NaN,-4.4,NaN,65.0,...,NaN,NaN,M,100.23,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-01 02:00:00,2003-01-01 02:00,2003,1,1,02:00,1.5,NaN,-4.2,NaN,66.0,...,NaN,NaN,M,100.32,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-01 03:00:00,2003-01-01 03:00,2003,1,1,03:00,1.0,NaN,-4.7,NaN,66.0,...,NaN,NaN,M,100.36,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-01 04:00:00,2003-01-01 04:00,2003,1,1,04:00,0.7,NaN,-5.2,NaN,65.0,...,NaN,NaN,M,100.43,NaN,NaN,NaN,NaN,NaN,NaN

ValueError: No objects to concatenate